.banner-text {
    font-size: 30px;
}

.logo-size {
    width: 181px;
    height:auto;
}

.text-center {
    text-align: center;
}

.social-banner {
    text-align: center;
    margin-top: 10px;
}

.image-btube {
    width: 10%;
    height:auto;
    margin-bottom:10px;
}

.btube-text {
    text-align: left;
}

.image-bcasino {
    width: 8%;
    height:auto;
    margin-top: 20px;
    margin-bottom:10px;
}

.image-bluechips {
    width: 30%;
    height:auto;
}

.border-none {
    border: none;
}

td {
    font-size: 11px;
    color: white;
}




@media screen and (max-width: 600px) {
    .image-btube {
        width: 30%;
        height:auto;
        margin-bottom: 10px;
    }

    .image-bcasino {
        width: 25%;
        height:auto;
        margin-top: 20px;
        margin-bottom:10px;
    }

    .image-bluechips {
        width: 50%;
        height:auto;
    }


}


@media screen and (max-width: 1200px) and (min-width: 900px) {

    .ul-style {
        margin-left: 100px;
    }

}

@media screen and (max-width: 450px) {
    .ul-style {
        margin-left: -8px;
    }
}


/** chart style */

#chart_wrap {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow:hidden;
}

#piechart {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:500px;
}

/*--- back to top ---*/
#return-to-top { z-index: 9999; position: fixed; bottom: 20px; right: 20px; background: #005ED8; width: 50px; height: 50px; display: block; text-decoration: none; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 4px; display: none; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
#return-to-top i { color: #fff; margin: 0; position: relative; left: 16px; top: 9px; font-size: 28px; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
#return-to-top:hover { background: #005ED8; }
#return-to-top:hover i { color: #fff; top: 8px; }
.navbar-expand-lg { position: relative; top: 70px; z-index: 8; }

.tombol-get-apps {
    text-align: center;
}

.purchase-text {
    text-align: center;
}

.purchase-text ol li {
    font-size: 1.2em; font-weight: 300; color: #1641b5; margin-bottom: 10px; position: relative;
}

.image-btluechips {
    width: 50%;
    height: auto;
}

.header-txt img {
    margin-bottom: -10px;
}

/* progress bar css */
.progress {
    margin-bottom:14px;
    height: 2rem;
    border-radius: 1.25rem;
}

.soft-left {
    float: left;
}

.hard-right {
    float: right;
}

.comingsoon {
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    margin-bottom: 40px;
}

.gambar img{
    display: block;
    margin-left: auto;
    margin-right:auto;
    margin-top: 100px;
}

.sorry-text {
    text-align: center;
    margin-top: 10px;
    font-family: SansSerif;
}

.thanks-text {
    text-align: center;
    margin-top: 10px;
    font-family: SansSerif;
}


/** transition menu **/

.iframe-center {
    margin: 0 auto;
    top: 50%;
    left: 50%;
}